.vscode/settings.json
*.pyc
lib/pymepix/.DS_Store
build/*
pymepix/build*
pymepix/doc/build*
pymepix/doc/.build
pymepixviewer/build*
pymepixviewer/doc/build*
pymepixviewer/doc/.build
pymepix/pymepix.egg-info/*
.DS_Store
lib/pymepix.egg-info/*
*.egg
*.dat
*.tpx3
*.spx
doc/build/
